<% provide(:title, 'Mission') %>
<h1>Mission</h1>
<p>
  <h4>As a homeowner there are countless times when you just wish you had a hand.</h4>

  <p>Now relying on friends or distant nephews are a thing of the past. Small chores and projects that require a helping hand are only a few clicks away.</p>

  <p><b>How it works:</b></p>

<ol>
  <li>You describe the help you need on the site or from your mobile device.</li>
  <li>You receive a quote.</li>
  <li>You agree to the cost and time frame.</li>
  <li>Help arrives on the day and time agreed to.</li>
</ol>

  <p>Providers (or helpers) get some extra cash and buyers get the help they need, when they need it.</p>
  
  <p>All providers are screened for safety. Relieve is a service you can trust.</p>
</p>

<p>Stay tuned and <a href="http://www.relieve.io">sign up</a>.</p>
