<% provide(:title, 'Mission') %>
<h1>Mission</h1>
<p>
  <h4>Dentists that we've spoken with universally dislike the business portion of their practice.</h4>

  <p>Dentists want to spend their time at the chair.</p>

  <p>However <u>billing issues, and insurance companies get in the way</u>. On top of that these issues often effect relationships with customers leaving them with a bad taste in their mouth. (pardon the pun)</p>

  <p>All of these issues tie up staff which interferes with friendly and courteous service and keeps them from performing more profitable activities such as follow-ups and call backs. All of this costs money and when it comes to patient relationships those costs can be literally anyone's guess.</p>
</p>

<p>
  <h4>We want to help you.</h4>

  <p>We want to build a solution that addresses all of these things so that you can back to your chair, and your office manager can get back to servicing your patients and driving more business. Everyone wins. Your staff is freed up, your patients are happier and you can concentrate on Dentistry which is what you signed up for in the first place.</p>
</p>

<p>
  <h4>Here's the crazy part...</h4>

  <p>We are not doing this <u>for</u> Dentists. We are doing this <u>with</u> Dentists.</p>

  <p>That's right....<b>Our consultants are you</b>...We have several Dentists already helping to build in the initial features that matter most to them. Soon we will be looking for more Dentists to expand on the feedback and improve the solution further.</p>

  <p>Does your software do something you hate? Tell us about it. Do you wish something was automated? Let us know. Are we barking up a wrong tree? Please tell us. (This has happened already and we've turned around and took a whole new path; all based on Dentists' feedback!)</p>
</p>

<p>Stay tuned and <a href="http://www.relieve.io">sign up</a>...If you're a Dentist this will be an exciting place.
</p>
