<div class="front-card">
  <div class="row">
    <div class="span7">
      <h1>Welcome to Relieve</h1>

      <h3 style="text-align:center;">
      Relieve.io is the place to go whenever you need a hand.
      <br />
      <br />
      Use Relieve for help with:</h3>
      <h2>
        Moving furniture &bull; Housework &bull; Painting a room &bull; Cleaning your gutters &bull; Yard work &bull; ...you get the idea
      </h2>
    </div>
    <aside class="span5">
      <section>
        <h3>
        All providers are pre-screened, bonded and insured.
        </h3>
        <p>
        If you are interested in early access to this <b>ground breaking service</b> simply request your invitation below.
      </section>
      <section>
        <!-- Begin MailChimp Signup Form -->
        <form action="http://relieve.us5.list-manage.com/subscribe/post?u=95102d804ffd1407622eb24db&amp;id=874185c90e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
	      <label for="mce-EMAIL">Get your Invitation</label>
	      <input style="height:40px;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	      <input style="height:40px;" type="zip code" value="" name="MMERGE4" class="zip code" id="mce-MMERGE4" placeholder="zip code:" required>
	      <input type="submit" value="Get Invited!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-primary pull-right">
        </form>
      </section>
    </aside>
  </div>
</div>

