<div class="front-card">
  <div class="row">
    <div class="span7">
      <h1>Welcome to Relieve</h1>

      <h2>
      Relieve.io is a Hosted Medical Practice Management Solution for Dentists.
      </h2>
      <h3>
      It is the <i>only</i> solution on the web with <u>built-in Electronic Billing</u> making collections with Insurance Companies a thing of the past.
      </h3>
    </div>
    <aside class="span5">
      <section>
        <p>
        If you are interested in early access to this <b>ground breaking software</b> and want to learn what it can do for you and your practice please request your invitation below.
      </section>
      <section>
        <!-- Begin MailChimp Signup Form -->
        <form action="http://relieve.us5.list-manage.com/subscribe/post?u=95102d804ffd1407622eb24db&amp;id=874185c90e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
	      <label for="mce-EMAIL">Get your Invitation</label>
	      <input style="height:40px;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	      <input type="submit" value="Get Invited!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-primary pull-right">
        </form>
      </section>
    </aside>
  </div>
</div>

