<footer class="footer">
  <small>
    &copy; Copyright <a href="http://www.relieve.io/">Relieve</a> 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to "Mission",   about_path %></li>
      <li><a href="http://blog.relieve.io/">Blog</a></li>
    </ul>
  </nav>
</footer>
